* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header 
{
    background-color: yellowgreen;
    color: beige;
    text-align: center;
    padding: 15px;
}

.gallery-container 
{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-card 
{
    background-color:blanchedalmond;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rebeccapurple;
    text-align: center;
    width: 380px;
}

.gallery-card img 
{
    width: 250px;     
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.caption 
{
    margin: 15px 0;
    font-size: 16px;
    font-weight: bold;
}

.buttons 
{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.buttons button 
{
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
}

.buttons button:hover 
{
    background-color: violet;
}

.footer 
{
    background-color: bisque;
    color:rebeccapurple;
    text-align: center;
    padding: 12px;
}